.faire_action {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: black;
    justify-content: center;
}
.faire_action .action {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: black;
    justify-content: center;
}
.faire_action .action .btn {
    padding: 12px 100px;
    
}